/*CSS Styles*/

body {
  background: url("../images/bg3.jpg") no-repeat scroll black;
  background-size: cover;
}
#wrapper h1 {
  position: relative;
  top: 20px;
  width: 500px;
  margin: auto;
  padding: 5px;
  font-family: 'Amatic SC', 'cursive';
  color: #e0e0eb;
  font-size: 70pt;
  text-align: center;
}
#wrapper p {
  position: relative;
  top: 470px;
  margin: auto;
  font-family: 'Barlow Semi Condensed', 'sans-serif';
  color: #e0e0eb;
  font-size: 13pt;
  text-align: center;
}
