body {
  background: url("../images/bg3.jpg") no-repeat fixed black;
  background-size: cover;
}
/*#intro img {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;*/
}
#intro h1 {
  position: relative;
  top: 30px;
  width: 500px;
  margin: auto;
  padding: 5px;
  font-family: 'Poiret One', cursive;
  color: #e0e0eb;
  font-size: 40pt;
  text-align: center;
}
#intro p {
  position: relative;
  top: 40px;
  margin: auto;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #e0e0eb;
  font-size: 13pt;
  text-align: center;
}
